body {
    background-image: url("https://farm1.staticflickr.com/450/32275638975_bb2b7c6bc7_c.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 100px;
    font-family: arial, helvetica;
    width: 600px;
    margin: 50px auto;
    text-align: center;
}

p {
    color: white;

}